In [4]:
import requests

link = "https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$orderby=Data%20desc&$format=json"

requisicao = requests.get(link)
informacoes = requisicao.json()


# import pprint

# pprint.pprint(informacoes)

In [5]:
import pandas as pd

tabela = pd.DataFrame(informacoes["value"])

# tabela["Valor"] = tabela["Valor"].map("R${:,.2f}".format)

display(tabela)

            Data  Quantidade         Valor Denominacao  Especie
0     2024-06-24  3191004917  3.191005e+07        0.01   Moedas
1     2024-06-24  7978683990  3.989342e+08        0.05   Moedas
2     2024-06-24  8146416244  8.146416e+08        0.10   Moedas
3     2024-06-24  3666907229  9.167268e+08        0.25   Moedas
4     2024-06-24  3699463550  1.849732e+09        0.50   Moedas
...          ...         ...           ...         ...      ...
9995  2021-08-18    78998468  1.579969e+10      200.00  Cédulas
9996  2021-08-17  3191178993  3.191179e+07        0.01   Moedas
9997  2021-08-17  7232939631  3.616470e+08        0.05   Moedas
9998  2021-08-17  7460356381  7.460356e+08        0.10   Moedas
9999  2021-08-17  3266861801  8.167155e+08        0.25   Moedas

[10000 rows x 5 columns]

In [7]:
# pegar todas as informacoes com varias requisiçoes

tabela_final = pd.DataFrame()
pular_indice = 0

while True:
    link = f'https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular_indice}&$orderby=Data%20desc&$format=json'
    requisicao = requests.get(link)
    informacoes = requisicao.json()
    tabela = pd.DataFrame(informacoes["value"])
    if len(informacoes['value']) < 1:
        break
    tabela_final = pd.concat([tabela_final, tabela])
    pular_indice += 10000

display(tabela_final)

NameError: name 'resposta' is not defined